@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ddefef;
    min-height: 100vh;
    overflow-x: hidden;
    
}

.logo {
    font-size: 2em;
    color: #307567;
    pointer-events: none;
    margin-right: 240px;
}

header {
    position: absolute;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.navigation a {
    text-decoration: none;
    color: #307567;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background-color: #307567;
    color: rgb(255, 255, 255);
}

.Parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
}

.Parallax img {
    position: absolute;
    top: o;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100px;
    

}

.sec h2 { 
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}